@import '../../index.scss';

.mainContent {
  margin-top: 20px;
}
.choiceCard {
  height: 100%;
  cursor: pointer;
}
.choiceCard:hover {
  background-color: $primary;
}
.choiceIcon {
  font-size: 80px;
  margin-bottom: 20px;
  color: $primary-invert;
}
